*{
    margin:0;
    padding:0;
    font-family:sans-serif;
}
body{
    background-color:black;
   
}
body #story{
    min-height: 100vh;
    display:grid;
    align-content:center;
    justify-content: center;
    background-color:black;
    place-items:center;
    color:rgb(255, 255, 255);
}
/*Change width here for chaudhai of sidebar*/
.sidebar{
    width:50px; 
    height:100%;
    position:fixed;
    top:0;
    left:0;
    padding: 30px 15px;
    background:rgba(130, 130, 130, 0.5);
    backdrop-filter: blur(10px);
    transition:width 0.2s;
    
    
}
ul{
    list-style: none;
    padding: 0 15px;
    
}
ul li{
    margin:55px 0;
    display:flex;
    align-items:center;
    justify-content:center;
    cursor:pointer;
}
ul li img{
    width:30px;
    margin-right:0px;
}
ul li p{
    white-space:nowrap;
    display:none;
}
.sidebar:hover{
    width:250px;
}
.sidebar:hover ul li p{
    display:block;
}
.sidebar:hover ul li img{
    margin-right:10px;
}
.sidebar:hover ul li{
    justify-content: flex-start;
}
header{
    width:100%;
    height: 60px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    position:fixed;
    z-index: 99;
    box-shadow:0 0 10px #000;
    background-color:rgba(0, 0, 0, 1);
}

header .logo{
    flex:1;
    color:white;
    margin:10px;
    padding:10px;
    margin-left:15px;
    text-transform:uppercase;
} 

#chk1{
    display:none;
}
i{
    color:white;
    cursor:pointer;

}
header .search-box{
    flex:1;

}
.search-box input{
    width:50%;
    height:40px;
    border:none;
    outline:none;
    background: #f2f2f2;
    border-radius:30px;
    color:grey;
    font-size: 16px;
    text-align:center;
}
.search-box button{
    cursor:pointer;
    width:40px;
    height:40px;
    border-radius:30px;
    border:none;
    position:absolute;
    top:4;
    right:10;
    transform:scale(0.9);
    background:rgb(197, 28, 197);

}
.user-img{
    height:40px;
    width:40px;
    border-radius:50%;
    right:50px; 
    background-image:url(images/cat.jpg);
    background-size:cover;
    cursor:pointer;
}
.container{
    overflow-x:auto;
    overscroll-behavior-x:contain;
    border:1px solid rgb(72, 71, 71);
    background-color:black;
    padding:10rem;
    width:100%;
}
.story-container{
    display:grid;
    grid-auto-flow:column;
    grid-auto-columns:8rem;
    grid-gap:2rem;
}
.story-container .content{
    display:grid;
    grid-gap:0.5rem;
    margin:0;
    text-align:center;
    position:relative;
    cursor:pointer;
    user-select:none;
    transition:all 0.2s ease-in;
}
.story-container .content:hover{
    transform: scale(1.1);
}
.story-container .content .img-container{
    display:inline-block;
    width:5rem;
    height:10 rem;
    border-radius:50%;
    background:radial gradient(rgba(0,0,0,0.15) 60%,transparent 0),radial gradient(white 65%,transparent 0),linear-gradient(to top right, blue,green);
}
.story-container .content .img-container img{
    display:block;
    height:100%;
    width:100%;
    object-fit:cover;
    clip-path: circle(42%);
}
.story-container .content:last-child::after{
    content:'';
    position:absolute;
    width:10rem;
    height:100%;
    right:-2rem;
}
.story-container .content .text-container{
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size:1rem;
}
.text-container{
    color:white;   
}
body #post-box{
    width:100%;
    height:180vh;
    display:flex;
    justify-content:center;
    align-items:center;
    font-family:sans-serif;
    background:rgb(136, 133, 133);

}
.post-container{
    width:640px;
    background:#6d6d6d;
    overflow:hidden;
    border-radius:3px;
    border: 1px solid #dbdbdb;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -ms-border-radius:3px;
    -o-border-radius:3px;
}
.top-bar{
    width:100%;
    height:75px;
    padding:25px 16px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.display-img{
    width:100%;
    height:100%;
    position:relative;
    
}
.display-img img{
    position:absolute;
    top:-5px;
    left:-5px;
    width:42px;
    height:42px;
    border-radius:50%;
    display:inline-block;
    object-fit:cover;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
}
.display-img span{
    margin-left:50px;
}
.main-img{
    width:640px;
    height:640px;
    margin-bottom:15px;
}
.main-img img{
    width:100%;
    height:100%;
    object-fit:cover;
}
.footer{
    padding-left:16px;
    padding-right:16px;
}
.icons{
    display:flex;
    justify-content: space-between;
    padding:5px 0;
}
.icons .fa{
    font-size:24px;
    cursor:pointer;
}
.icons .left_side .fa{
    margin:0px 3px;
    color:#dbdbdb;
}
.likecount p{
    color:black;
    font-size:3px;
}
.post-content p{
    padding:10px 16px;
} 
.comments p{
    font-size:14x;
    color:rgb(48, 48, 48);
    padding: 5px 0;
    padding-bottom: 10px;
}
.comment-box{
    width:100%;
    height:60px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.icons{
    padding: 8px 16px 8px 0;
    font-size: 24px;
}
.input_field{
    width:100%;

}
.input_field{
    width:100%;
    padding:10px;
    border:none !important;
    outline:none;

}
.btn button{
    background:transparent;
    padding:10px;
    outline:none;
    border:none;
    color:rgb(96, 39, 150);
    font-weight:600px;
    cursor:pointer;
}
#blog{
    background-color:white;
    color:black;
    display:inline;
}