.navbar{
    height: 10vh;
    display:flex;
    justify-content:space-evenly;
    align-items: center;
}

div{
    background-color:black;
}

a{
    font-family:Arial, Helvetica, sans-serif;
    color:white;
    font-size:25px;
    margin-right: 90px;
    text-transform:uppercase;
    font-weight: 100;
    cursor: pointer;
}

body{
    background-color:black
}

#home{
    font-family:Arial, Helvetica, sans-serif;
    font-size:45px;
    text-align:left;
    
}