*{
    margin:0;
    padding:0;
    box-sizing:border-box;

}
body #post-box{
    width:100%;
    height:180vh;
    display:flex;
    justify-content:center;
    align-items:center;
    font-family:sans-serif;
    background:rgb(136, 133, 133);

}
.post-container{
    width:640px;
    background:#6d6d6d;
    overflow:hidden;
    border-radius:3px;
    border: 1px solid #dbdbdb;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -ms-border-radius:3px;
    -o-border-radius:3px;
}
.top-bar{
    width:100%;
    height:75px;
    padding: 25px 30px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.display-img{
    width:100%;
    height:100%;
    position:relative;
    
}
.display-img img{
    position:absolute;
    top:-5px;
    left:-5px;
    width:42px;
    height:42px;
    border-radius:50%;
    display:inline-block;
    object-fit:cover;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
}
.display-img span{
    margin-left:50px;
}
.main-img{
    width:640px;
    height:640px;
    margin-bottom:15px;
}
.main-img img{
    width:100%;
    height:100%;
    object-fit:cover;
}
.footer{
    padding-left:16px;
    padding-right:16px;
}
.icons{
    display:flex;
    justify-content: space-between;
    padding:5px 0;
}
.icons .fa{
    font-size:24px;
    cursor:pointer;
}
.icons .left_side .fa{
    margin:0px 3px;
    color:#dbdbdb;
}
.likecount p{
    color:black;
    font-size:3px;
}
.post-content p{
    padding:10px 16px;
} 
.comments p{
    font-size:14x;
    color:rgb(48, 48, 48);
    padding: 5px 0;
    padding-bottom: 10px;
}
.comment-box{
    width:100%;
    height:60px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.icons{
    padding: 8px 16px 8px 0;
    font-size: 24px;
}
.input_field{
    width:100%;

}
.input_field{
    width:100%;
    padding:10px;
    border:none !important;
    outline:none;

}
.btn button{
    background:transparent;
    padding:10px;
    outline:none;
    border:none;
    color:rgb(96, 39, 150);
    font-weight:600px;
    cursor:pointer;
}